/* Calendar.css */

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calendar {
  width: 500px; /* Increase width to avoid trimming */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.calendar-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.calendar-header button:focus {
  outline: none;
}

.calendar-header button:hover {
  opacity: 0.8;
}

.calendar-header div {
  font-size: 1.2rem;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendar-day {
  padding: 10px;
  text-align: center;
  cursor: pointer; /* Add cursor pointer to indicate clickable */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.calendar-day:hover {
  background-color: lavender
}

.day-name {
  font-weight: bold;
  text-transform: uppercase;
}

.selected-day {
  color: white; /* Text color */
  border-radius: 200%; /* Ensure perfect circle */
  animation: pulse 0.5s;
  background-color: black; /* Background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition */
}

.selected-day:hover {
  transform: scale(1.1); /* Scale up on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}



/* Keyframes for pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
