/* ContactUs.css */

.contact-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add some space below the image */
  }
  
  .contact-img {
    width: 250px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Add border radius for a rounded look */
  }
  
  .contact-details{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }